.yui3-tab-label a        { display: inline-block; width: 6px; height: 6px;
                           background-image: url(icons/bullet_toggle_minus.png);
                           background-repeat: no-repeat;
                           background-position: center; margin-left: 4px }

.footer                  { clear: both }

.yui-skin-sam 
.yui3-usercomplete 
.yui-ac-input            { position: static }

.helpdesk.yui3-skin-sam
.yui3-tabview-panel      { background-color: white; }

.share-this              { float: right; clear: right; }

#yui-history-iframe,
.filter-dialog, 
.template                { display: none }

.ticket                  { background-color: white }
.ticket .container       { padding-left: 0; padding-right: 250px }
.left-side               { float: left; position: relative; width: 100% }
.right-side              { float: left; position: relative;
                           width: 250px; margin-right: -250px }

.title-area              { float: left; margin-top: 0 }
.subscribe               { float: right; position: relative; right: 10px }
.subscribe button        { padding-left: 25px !important;
                           background: url(icons/email.png) no-repeat 5px 50% }

.comments li             { list-style-type: none; clear: both }
.comments, .new-comment  { padding: 11px }
.comments.odd            { background-color: #D8D8D8 }
.comments.even           { background-color: white }

.new-comment textarea    { width: 100%; height: 10em }
.new-comment td          { border: none }
.new-comment td.name     { font-weight: bold; text-align: right }

div.attach-box           { width: 300px }
.attach-box input        { width: 260px }

.main-tab .yui-button    { float: right; }
.main-tab .yui-button 
button                   { padding-left: 25px !important;
                           background-repeat: no-repeat;
                           background-position: 5px 50% }

.filter-button button    { background-image: url('icons/magnifier.png') }
.subscribe-button button { background-image: url('icons/email.png') }
.new-ticket-button 
            button       { background-image: url('icons/bug_add.png') }

.datatable               { clear: both }
.datatable table         { width: 100% }

.comments .header        { text-align: center }
.comments .author        { font-weight: bold }
.comments .timestamp     { float: left; font-weight: bold }
.comments .status-change { font-style: italic }
.comments .body          { padding-top: 5px; padding-bottom: 5px; }

.comments ul             { margin: 0 }
.comments 
.attachments li          { padding-left: 20px;
                           background: url('icons/picture.png') 
                           0 50% no-repeat }

.right-side .top         { height: 50px }
.right-side .status      { text-align: center; width: 140px; line-height: 50px;
                           font-size: 12px; outline: thin solid black;
                           float: left; height: 100%; overflow: hidden }

.right-side .status.open         { background-color: red;    color: white }
.right-side .status.acknowledged,
.right-side .status.confirmed    { background-color: #F90;   color: white }
.right-side .status.feedback     { background-color: yellow; color: black }
.right-side .status.resolved     { background-color: lime;   color: white }
.right-side .status.closed       { background-color: white;  color: black }
.right-side .status.waiting      { background-color: cyan;   color: black }


.ticket .right-side 
.yui-button              { float: right }
.ticket .right-side 
.yui-button button       { padding: 0; padding-left: 30px; width: 100px; 
                           height: 50px; line-height: 50px; font-size: 12px;
                           background: url('icons/pencil.png')
                           10% 50% no-repeat }

.right-side .visibility  { width: 100%; padding: 5px 0; text-align: center;
                           outline: thin solid black; margin: 10px 0;
					       font-weight: bold }
.visibility.public       { background-color: lime }
.visibility.private      { background-color: red; color: white }
.visibility label        { margin-right: 1em }

.yui3-overlay-mask       { background: #000;
                           opacity: 0.7; -moz-opacity: 0.7;
                           filter: alpha(opacity=70) }

.modal-dialog            { background-color: #D8D8D8; padding: 1em; }
.modal-dialog h1         { float: left; padding: 0; margin: 0 }
.modal-dialog .close     { float: right; margin-right: 1em; margin-top: 1em } 

.modal-dialog .cancel,
.modal-dialog .save      { float: right }

.ticket-edit input       { font-style: italic; color: gray }
.ticket-edit 
input.changed            { font-style: normal; color: black }

.ticket-edit table       { width: 400px; height: 300px }
.ticket-edit td          { border: none }
.ticket-edit td.label    { text-align: right; font-weight: bold }

.info .name              { font-weight: bold }
.info .value             { padding-left: 1em }

.rem                     { display: inline-block; width: 16px; height: 16px;
                           background-image: url(icons/delete.png) }
.active-filters td       { border: none }
.filter 
.yui-calcontainer        { float: none }

/* IE hack to make the filter dialog less insane */
* html .active-filters        { width: 500px }
* html .btn-cell              { width: 10px }
* html .label-cell            { width: 10em }
